 .navbar{
  background-color: #ffffff;
 }
  /* Navbar content */
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .navbar img {
    width: 110px; /* Adjust the width as needed for the desired size */
    height: 100px; /* Set the height to match the width for a circular shape */
    object-fit: contain;
    

  }
  /* Logo styles */
  .navbar h1 {
    font-size: 34px; /* Adjust the font size */
    font-weight: 700;
    margin: 0;
  }

  /* Navbar links styles */
  .navbar-links {
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .list-item {
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
  }
  
  .list-item:last-child {
    margin-right: 0; /* Remove margin for the last item */
  }
  
  .list-item a {
    text-decoration: none;
    font-weight: 500;
    color: #fff; /* Text color for links */
    transition: color 0.3s;
 
  }
  
  .list-item a:hover {
    color: #ff5733; /* Text color on hover */
  }
  