/* Navbar container */
.navbar {
    color: #000000; /* Text color for the header */
    padding: 20px 0;
    top: 0;
    width: 100%;
  }
  
  /* Navbar content */
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .navbar img {
    width: 100px; /* Adjust the width as needed for the desired size */
    height: 100px; /* Set the height to match the width for a circular shape */
  

  }
  /* Logo styles */
  .navbar h1 {
    font-size: 34px; /* Adjust the font size */
    font-weight: 700;
    margin: 0;
  }
  
  /* Search bar styles */
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-right: 10px;
    width: 200px;
  }
  
  .search-bar button {
    background-color: #000000; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-bar button:hover {
    background-color: #ff845a; /* Button background color on hover */
  }
  
  /* Navbar links styles */
  .navbar-links {
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .list-item {
    margin-right: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(87, 87, 87, 0.2); /* Adjust the margin between list items */
  }
  
  .list-item:last-child {
    margin-right: 0; /* Remove margin for the last item */
  }
  
  .list-item a {
    text-decoration: none;
    font-weight: 500;
    color: #fff; /* Text color for links */
    transition: color 0.3s;
 
  }
  
  .list-item a:hover {
    color: #ff5733; /* Text color on hover */
  }
  