 .navbar{
  background-color: #ffcfd6;
  border-bottom: 1px solid #444;
 }

.navbar-content {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
height: 90px;
margin: 0 auto;
padding: 0 ;
}
.navbar img {
width: 110px; /* Adjust the width as needed for the desired size */
height: 100px; /* Set the height to match the width for a circular shape */
object-fit: contain;

}
/* Navbar links styles */
.navbar-links {
font-family: serif;
list-style: none;
font-size: 30px;
margin: 0;
padding: 0;
}

.list-item {
text-decoration: none;
margin-right: 20px;
padding: 10px;
}


  .list-item a {
    text-decoration: none;
    font-weight: 500;
    color: #fff; /* Text color for links */

  }
  
  a:visited {
    color: inherit; /* or set your desired color for visited links */
  }
  
  /* Active state (when clicked) */
  a:active {
    color: inherit; /* or set your desired color for active links */
  }