/* Products.css */

.products {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background-color: #ffe4eb;
   
  }
  
  .product {
    border-radius: 5px;
    margin: 50px;
    padding: 15px;
    width: 500px;
    text-align: center;
    background-color:#fbd5cc;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .info p {
    margin: 10px 0;
  }
  
  .description {
    margin-top: 10px;
  }
  
  .link {
    text-decoration: none;
  }

  .link:hover {
    text-decoration: none;
  }

  .view-btn {
    border-radius: 10px;
    font-size: 15px;
    transition: background-color 0.3s ease;
    background-color: #f4f4e3;
    padding: 10px;
  }

  .view-btn:hover {
    background-color: #f48da9;
    color: white;
  }